section.textbox {
  padding: 5em 5em 2.5em 5em;
}

h1 {
  padding-bottom: 30px;
}

.text-flex {
  padding: 0 675px 0 25px;
}

p {
  font-size: 0.95em;
  line-height: 1.4em;
  margin-top: 14px;
  margin-bottom: 12.5px;
  letter-spacing: 0.25px;
  text-align: justify;
}

.float {
  width: 30%;
  float: right;
  height: 60vh;
  margin-top: -50px;
  margin-right: 200px;
  opacity: 0.91;
}

.signature {
  font-family: rollerscript-smooth, sans-serif;
}

.line {
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-offset: 7px;
}

.btn {
  margin-bottom: 75px;
}

#readBtn {
  background-color: gray;
  color: white;
  padding: 8px 16px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.08em;
}

#readBtn:hover {
  background: #2b2b2b;
  color: white;
  cursor: pointer;
}

#more {
  display: none;
}

.logo-signature {
  padding-top: 15px;
  width: 10%;
}
