.container {
  max-width: 1366px;
  margin: 0 auto;
}

h1,
.form_text {
  padding: 30px;
}

h1 {
  padding-top: 3em;
}

/* Requirement text & fields */
.form_text {
  margin-top: -40px;
  margin-bottom: -50px;
  letter-spacing: 0.07em;
}

.required {
  font-weight: bold;
  color: red;
}

/* FORM CONTENT */
form {
  padding: 2em;
  border-radius: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

label {
  display: block;
  margin-top: 35px;
  letter-spacing: 0.05em;
}

textarea {
  width: 100%;
  min-height: 45vh;
  padding: 1em;
  font-family: sans-serif;
  font-size: 1em;
  letter-spacing: 0.025em;
  line-height: 1.5em;
  margin-top: 10px;
}

/* Send-button */
button,
button:disabled {
  margin-top: 25px;
}

button {
  background: #10627b;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 0.1rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 75px;
}

button:disabled {
  background: gray;
}

button:hover {
  background: #113346;
}

/* Message display after form's sent */
.message {
  background: #419841;
  padding: 1rem;
  margin: 50px 0 -35px 30px;
  color: white;
  width: 92.5%;
  letter-spacing: 0.05em;
  border-radius: 0.1em;
}
