.flexbox {
  background: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.img {
  background: url("../images/gallery/nature/painting19.jpg") center bottom
    no-repeat;
  background-size: cover;
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
}

.img2 {
  background: url("../images/gallery/maritime/painting18.jpg") center bottom
    no-repeat;
  background-size: cover;
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
}

.content {
  padding: 2.5em;
}

.date {
  font-size: 0.75em;
}

.other-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.imgs {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

h2 {
  padding: 30px 0 25px 0;
}

.previous,
.next {
  text-decoration: none;
  padding: 8px 16px;
}

.previous:hover,
.next:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: gray;
  color: white;
}

.div {
  position: absolute;
  bottom: 5%;
}

.myBtn {
  background: none;
  position: fixed;
  bottom: -5px;
  right: 0%;
  max-width: 125px;
  width: 100%;
  font-size: 1em;
  border: none;
  padding: 1em;
}

.myBtn:hover {
  background-color: #7dbbf1;
}

a.top {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
