html,
body,
footer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -user-drag: none;
  -webkit-touch-callout: none;
}

/* Navigation bar ~ Main menu field */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-size: 18px;
  background-color: #fff;
  border-bottom: 1px solid #eaecef;
  box-shadow: 0 5px 5px 0 rgba(186, 186, 226, 0.2);
  margin-bottom: 15px;
}

/* Logo design */
.logo {
  font-family: rollerscript-smooth, sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-links,
.nav-links-active,
.logo {
  text-decoration: none;
  color: black;
}

/* Hamburger menu */
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 2em;
}

/* Menu links */
.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.active {
  display: block;
}

.nav-links-active {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: #000090;
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
  font-weight: bolder;
}

.nav-links:hover,
.nav-links-active {
  cursor: crosshair;
}

/* GALLERY PAGE SECTION */
.latest-images {
  width: 99%;
  display: flex;
}

.main-image {
  margin-left: 15px;
  margin-right: 15px;
}

.main-img {
  width: 100%;
  height: 100%;
}

.images-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.new-imgs1,
.new-imgs2,
.new-imgs3,
.new-imgs4 {
  height: 100%;
  width: 50vh;
}

.images-wrap-inverse {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 15px -56px 0 15px;
}

.big-image {
  width: 100.25%;
  display: flex;
}

.bigger-image {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: 20px;
  width: 100%;
}

.new-imgs10,
.new-imgs11 {
  width: 85.5%;
  height: 100%;
}

/* 3-COLUMN IMAGES */
.sub-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 15px 15px 0 15px;
}

.new-imgs5,
.new-imgs6,
.new-imgs7 {
  height: 100%;
  width: 100%;
}

/* 1/2-COLUMN IMAGES */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px 0;
  margin: 15px 0px 0px 15px;
}

.big-img {
  grid-area: 1 / 2 / 3;
}

.small-imgs {
  width: 97%;
}

.smaller-images {
  width: 100%;
  height: 100%;
}

.large-image {
  width: 98.5%;
  height: 100%;
}

/* FOUR-COLUMN IMAGES */
.four-column-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 15px 15px 0 15px;
}

.four-cols {
  width: 100%;
  height: 100%;
}

/* TWO-COLUMN IMAGES */
.two-column-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  margin-left: 15px;
}

.two-col {
  width: 98%;
  height: 100%;
}

/* first paintings */

/* Footer ~ The end page section */
footer {
  text-align: center;
  padding: 20px;
}

.p-footer {
  margin-top: 5px;
  font-size: 0.75em;
  text-align: center;
}
