html,
body,
footer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -user-drag: none;
  -webkit-touch-callout: none;
}

/* Navigation bar ~ Main menu field */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-size: 18px;
  background-color: #fff;
  border-bottom: 1px solid #eaecef;
  box-shadow: 0 5px 5px 0 rgba(186, 186, 226, 0.2);
  margin-bottom: 15px;
}

/* Logo design */
.logo {
  font-family: rollerscript-smooth, sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-links,
.nav-links-active,
.logo {
  text-decoration: none;
  color: black;
}

/* Hamburger menu */
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 2em;
}

/* Menu links */
.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.active {
  display: block;
}

.nav-links-active {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: #000090;
  text-decoration-skip-ink: none;
  text-underline-offset: 10px;
  font-weight: bolder;
}

.nav-links:hover,
.nav-links-active {
  cursor: crosshair;
}

/* GALLERY PAGE SECTION */
.latest-images {
  width: 100%;
  display: flex;
}

.main-image {
  margin-left: 15px;
  margin-right: 15px;
  width: 50%;
}

.main-img {
  width: 100%;
}

.images-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.new-imgs1,
.new-imgs2,
.new-imgs3,
.new-imgs4 {
  height: 39.7vh;
  width: 46vh;
}

.sub-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px 0px 0px 15px;
}

.new-imgs5,
.new-imgs6,
.new-imgs7 {
  height: 56vh;
  width: 64vh;
}

.more-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 0px 0px 15px;
}

.new-imgs8,
.new-imgs9 {
  width: 97vh;
  height: 83vh;
}

.images-wrap-inverse {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 15px 0 0 15px;
}

.big-image {
  width: 100.25%;
  display: flex;
}

.bigger-image {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 64.85%;
}

.new-imgs10,
.new-imgs11 {
  width: 64vh;
  height: 47.5vh;
}

.subby-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 15px 0px 0px 15px;
}

.new-imgs12,
.new-imgs13,
.new-imgs14,
.new-imgs15 {
  width: 47.5vh;
  height: 42.5vh;
}

/* Footer ~ The end page section */
footer {
  text-align: center;
  padding: 20px;
}

.p-footer {
  margin-top: 5px;
  font-size: 0.75em;
  text-align: center;
}

/* ABOUT */
section.textbox {
  padding: 5em 5em 2.5em 5em;
}

q {
  color: blue;
  font-size: 1.5em;
}

h1 {
  padding-bottom: 30px;
}

.text-flex {
  padding: 0 675px 0 25px;
}

p {
  font-size: 0.95em;
  line-height: 1.4em;
  margin-top: 14px;
  margin-bottom: 12.5px;
  letter-spacing: 0.25px;
}

p,
q {
  text-align: justify;
}

.float {
  width: 30%;
  float: right;
  height: 60vh;
  margin-top: -50px;
  margin-right: 200px;
  opacity: 0.91;
}

.signature {
  font-family: rollerscript-smooth, sans-serif;
}

.line {
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-offset: 7px;
}

.btn {
  margin-top: 15px;
}

#readBtn {
  background-color: gray;
  color: white;
  padding: 8px 16px;
  border: none;
  font-size: 1em;
}

#readBtn:hover {
  background: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#more {
  display: none;
}
